@import '../../variables/vars.scss';

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 36px;
  width: 100vw;
  z-index: 10;

  &__content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    > h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: white;
      flex: 1;
      padding: 1em;
      border-top: 1px solid #ccc;
    }

    > input {
      font-size: 1rem;
      padding: 1em;
      border: none;
      outline: 0;
      border-bottom: 1px solid #ccc;
    }

    > button {
      background: $mainColor !important;
      color: white;
      text-transform: inherit;
      border-radius: 0;
    }
  }
}

@media (max-width: 550px) {
  .rdrDefinedRangesWrapper {
    display: none;
  }
}

@media (max-width: 500px) {
  .banner {
    &__info {
      background: linear-gradient(rgba(0, 0, 0, 0.867), rgba(0, 0, 0, 0.167));
      height: 46vh;
      min-width: 100vw;
    }
  }
}
