.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.07);
  }

  img {
    object-fit: fill;
    min-width: 300px;
    min-height: 200px;
    width: 100%;
  }

  &__info {
    padding: 1em;

    > h2 {
      margin-bottom: 1em;
      font-size: 1.1rem;
    }

    > h4 {
      font-size: 14px;
      font-weight: 300;
      margin-top: 8px 0;
      margin-bottom: 1em;
    }
  }
}
